.wrapper{
    margin:10px;

}

.circle{
    width:250px;
    height:250px;
    border:solid 5px tan;
    background-color: rgb(131, 100, 75);
    border-radius: 50%;

    position:relative;
    top:20px;
    left:800px;
    right:90px;

}

.chips1 {
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color: rgb(46, 19, 19);
    
    position: relative;
    top: 30px;
    left:500px;
    right:95px;
}